.jumbotron{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    background: linear-gradient(to bottom, rgba(92, 92, 212, 0.6) 0%,rgba(78, 153, 190, 0.6) 100%),
    url('https://bit.ly/2L7Ms3F');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Rubik', sans-serif;
    margin-top: -20px;
}